* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    border-bottom: 1px solid black;
}

.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 80px;
}

.navigation li {
    padding: 10px 20px;
}

.navigation li a {
    text-decoration: none;
    color: green;
}

.navigation li:hover {
    cursor: pointer;
    background-color: lightblue;
}

.content {
    padding: 20px 80px;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: palevioletred;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    font-size: 18px;
}

.flashMessageScreen {
    margin-top: 300px;
}

.flashMessageScreen button, .exchangeRateScreen button {
    padding: 20px;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.flashMessagesWrapper {
    position: fixed;
    width: 20%;
    top: 100px;
    right: 0;
}

.flashMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    cursor: pointer;
}

.warning {
    background-color: rgba(255, 164, 3, 0.2);
}

.info {
    background-color: rgba(36, 112, 248, 0.2);
}

.error {
    background-color: rgba(206, 54, 54, 0.2);
}
